ul {
    list-style-type: none;
    padding: 0%;
}

li {
    margin-bottom: 0.5%;
}

label {
color: blue;
}

label:hover {
    background-color: burlywood;
}

button {
    color:blue ;
    cursor: pointer ;
    background-color: aliceblue;
    border:none;
    align-self: flex-end;
    margin-left: 18% ;
    margin-top: 0.5%;
}

button:hover {
    background-color:burlywood ;
}